:root {
--color00: #0f0f17;
--color01: #17171f;
--color02: #22222e;
--color03: #424260;
--color04: #6b6b89;
--color05: #bbccee;
--color06: #d4dbe8;
--color07: #e8f0ff;
--color08: #bb324c;
--color09: #ff9d62;
--color0A: #fbde66;
--color0B: #b4f09e;
--color0C: #66eeaa;
--color0D: #6bc7f5;
--color0E: #cfa3f5;
--color0F: #c7c56c;
}
